/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

// 覆盖 @mdi/font 的 @font-face，添加 font-display: swap 确保文本始终可见
@font-face {
  font-family: "Material Design Icons";
  src: url("@mdi/font/fonts/materialdesignicons-webfont.woff2?v=7.4.47") format("woff2"),
       url("@mdi/font/fonts/materialdesignicons-webfont.woff?v=7.4.47") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Material Design 3 页面过渡动画
.md3-enter-active,
.md3-leave-active {
  transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.md3-enter-from {
  opacity: 0;
  transform: translateX(0.5vw);
}

.md3-leave-to {
  opacity: 0;
  transform: translateX(-0.5vw);
}
