.v-card[data-v-c34f1e35]{border:1px solid rgba(0,0,0,.12)}code[data-v-c34f1e35]{background-color:#0000000d;padding:2px 4px;border-radius:4px;font-family:monospace}pre[data-v-c34f1e35]{overflow-x:auto}
